{% extends 'base.html.twig' %}

{% block title %}Edit Log
{% endblock %}

{% block body %}

	<a href="{{ path('app_logs_index') }}" class="homeBtn">
		<i class="fa-solid fa-house"></i>
	</a>

	<h1>editor mode</h1>

	<div class="editContainer">
		<div class="editForm">
			{{ include('logs/_form.html.twig', {'button_label': 'update'}) }}
		</div>


	</div>

	<div class="deleteDiv">
		{{ include('logs/_delete_form.html.twig') }}
	</div>

{% endblock %}
