{% extends 'base.html.twig' %}

{% block title %}New
{% endblock %}

{% block body %}
	<a href="{{ path('app_logs_index') }}" class="homeBtn">
		<i class="fa-solid fa-house"></i>
	</a>

	<h1>Write a new log</h1>

	<div class="editContainer">
		{{ include('logs/_form.html.twig') }}
	</div>

{% endblock %}
