<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="{{asset('style/logo.png')}}">
		<script src="https://kit.fontawesome.com/556e4f6811.js" crossorigin="anonymous"></script>

		{% block stylesheets %}
			<link rel="stylesheet" href="{{asset('style/style.css')}}">
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>


	<body>

		{% if app.user  %}

			<header>
				<div class="navOpt">
					<a href="">
						<i class="fa-solid fa-user"></i>
					</a>
				</div>

				<a href="/logout">logout</a>
			</header>

			{% endif%}


			{% block body %}{% endblock %}
		</body>
	</body>
</html>
